<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMqService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.1.179/MQService/MqService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMqService"
                contract="ServiceReference1.IMqService" name="BasicHttpBinding_IMqService" />
        </client>
    </system.serviceModel>
</configuration>